@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
:root {
  --font-color: rgba(255, 255, 255, 1);
  --d-black: #444444;
  --grey: #D9D9D9;
  --d-grey: #4D4D4D;
  --red: #FF0000;
  --blue: #0075FF;
  --d-blue: #002A5B;
  --weather-main: rgba(255, 153, 0, 1);
  --weather-gradient: linear-gradient(90deg, #786127, #8A8A8A);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html, input, pre, button, textarea {
  font-family: "Abel", sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  background: linear-gradient(116.82deg, #232323 0%, #575757 100%);
  color: var(--font-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  padding-right: 2em;
  word-wrap: break-word;
}
header h1 {
  color: var(--d-black);
  -webkit-text-stroke: 0.5px white;
  text-stroke: 0.5px white;
  transition: 0.2s;
}
header #menu {
  z-index: 100;
  position: relative;
  width: 3em;
  height: 3em;
  list-style: none;
  background: url(./assets/menu-icon.svg) no-repeat center, white;
  background-size: 60%;
  border-radius: 50%;
  transition: 0.2s;
}
header #menu:hover, header #menu:focus-within {
  border-radius: 0 50% 0 0;
}
header #menu:hover > li > a, header #menu:focus-within > li > a {
  opacity: 1;
}
header #menu:hover > li:nth-of-type(1), header #menu:focus-within > li:nth-of-type(1) {
  left: calc(50% - 3em);
  top: 50%;
}
header #menu:hover > li:nth-of-type(1) a, header #menu:focus-within > li:nth-of-type(1) a {
  border-radius: 50% 0 0 0;
}
header #menu:hover > li:nth-of-type(2), header #menu:focus-within > li:nth-of-type(2) {
  left: calc(50% - 3em);
  top: calc(50% + 3em);
}
header #menu:hover > li:nth-of-type(2) a, header #menu:focus-within > li:nth-of-type(2) a {
  border-radius: 0 0 0 50%;
}
header #menu:hover > li:nth-of-type(3), header #menu:focus-within > li:nth-of-type(3) {
  left: 50%;
  top: calc(50% + 3em);
}
header #menu:hover > li:nth-of-type(3) a, header #menu:focus-within > li:nth-of-type(3) a {
  border-radius: 0 0 50% 0;
}
header #menu li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
header #menu li a {
  display: grid;
  place-items: center;
  width: 3em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  transition: 0.2s;
  opacity: 0;
}

section {
  height: 100vh;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home p {
  display: block;
  width: 50%;
  background: linear-gradient(125deg, #0F0F0F 0%, rgba(15, 15, 15, 0) 100%);
  border-radius: 10px;
  padding: 5em 1em;
  font-size: 1.25em;
  transition: 0.2s;
}
#home p:hover {
  transform: scale(1.05);
}
#home .d-cont {
  width: 15em;
  height: 20em;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
#home .d-cont .rot-element {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(./assets/thumb.svg) center no-repeat;
  animation: rotation 5s forwards infinite linear;
  transform-style: preserve-3d;
  transition: 0.2s;
}
#home .d-cont .rot-element:after {
  content: "";
  position: absolute;
  inset: 100px;
  left: 0;
  top: 0;
  background: white;
  filter: blur(150px);
  transform: rotateX(90deg) translateZ(-200px);
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
section h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  text-align: center;
  font-size: 5em;
  font-weight: 100;
}
section .cont {
  background: rgba(217, 217, 217, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 7em);
  gap: 3em;
}
section .cont img {
  width: 40em;
  box-shadow: 3px 3px 10px black;
  border-radius: 5px;
  transition: 0.2s;
}
section .cont img:hover {
  transform: scale(1.2);
}
section .cont div {
  gap: 1em;
  font-size: 1.5em;
  width: 40em;
}
section .cont div .challenge {
  padding: 0.5em;
  display: block;
  box-shadow: 3px 3px 10px black;
}
section .cont .button-set {
  width: -moz-max-content;
  width: max-content;
  font-size: 1em;
  gap: 0;
  box-shadow: 3px 3px 10px black;
  margin-left: auto;
}
section .cont .button-set a {
  display: block;
  padding: 0.25em 0.5em;
  width: 5em;
  transition: 0.1s;
  text-align: center;
}
section .cont .button-set a:hover {
  transform: scale(1.1);
}
section .cont .button-set a:first-of-type {
  background-color: var(--grey);
  color: var(--d-black);
}
section .cont .button-set a:nth-of-type(2) {
  background-color: var(--d-black);
  color: var(--grey);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#tic-sec h1 {
  color: var(--red);
}
#tic-sec .highlight {
  color: var(--blue);
}
#tic-sec .challenge {
  background: #002A5B;
}
#tic-sec .hl {
  background-color: var(--red);
  padding-inline: 0.25em;
}

#weather-sec h1 {
  color: var(--weather-main);
}
#weather-sec .challenge {
  background: var(--weather-gradient);
}
#weather-sec .hl {
  background-color: var(--weather-main);
  padding-inline: 0.25em;
}

#nft-sec h1 {
  background: linear-gradient(97.78deg, #FFFF00 0%, #FF0000 49.48%, #0029FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 400 !important;
  -webkit-text-stroke: 0.5px white;
}
#nft-sec .challenge {
  background: linear-gradient(120deg, #000071, #710000, #978800);
}
#nft-sec .hl {
  background: linear-gradient(97.78deg, #FFFF00 0%, #FF0000 49.48%, #0029FF 100%);
  padding-inline: 0.25em;
}

#note-sec h1 {
  color: #00CFCC;
}
#note-sec .challenge {
  background: #007A78;
}

#old-sec {
  height: auto;
}
#old-sec .cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-inline: 1em;
  padding-block: 2em;
}
#old-sec .cont > .card {
  background: url(./assets/calculator.png) center;
  background-size: cover;
}
#old-sec .card:nth-of-type(2) {
  background: url(./assets/inter-card.png) center;
  background-size: cover;
}
#old-sec .card:nth-of-type(3) {
  background: url(./assets/ad-card.png) center;
  background-size: cover;
}
#old-sec .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
  width: 10em;
  height: 15em;
  background: grey;
  transition: 0.2s;
}
#old-sec .card > p {
  color: black;
  -webkit-text-stroke: 0.1px white;
  text-stroke: white;
  background: rgba(128, 128, 128, 0.25);
  text-align: center;
  padding: 0.25em;
  width: 100%;
  transition: 0.2s;
}
#old-sec .card:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.05);
}
#old-sec .card:hover > p {
  font-size: 1.25em;
}
#old-sec .card .button-set {
  width: 100%;
  box-shadow: none;
}
#old-sec .card a {
  width: 100%;
  box-sizing: border-box;
}
#old-sec .card a:hover, #old-sec .card a:focus {
  transform: scale(0.95);
}

.button-set {
  background: grey;
}

#skills-sec .cont {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5em;
  padding-inline: 3em;
}
#skills-sec .cont i {
  font-size: 10em;
  transition: 0.2s;
}
#skills-sec .cont i:nth-of-type(1):hover {
  color: orange;
}
#skills-sec .cont i:nth-of-type(2):hover {
  color: rgb(0, 132, 255);
}
#skills-sec .cont i:nth-of-type(3):hover {
  color: rgb(255, 97, 123);
}
#skills-sec .cont i:nth-of-type(4):hover {
  color: yellow;
}
#skills-sec .cont i:nth-of-type(5):hover {
  color: #171515;
}
#skills-sec .cont img {
  width: 10em !important;
  box-shadow: none;
  filter: brightness(50);
}
#skills-sec .cont img:hover {
  filter: none;
}

#contact-sec .cont {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}
#contact-sec .cont form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3em;
}
#contact-sec .cont form::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2em;
  transform: translateX(-50%);
  border-left: 2px solid white;
}
#contact-sec .cont label {
  font-size: 2em;
}
#contact-sec .cont input, #contact-sec .cont textarea {
  display: block;
  font-size: 1em;
  width: 100%;
}
#contact-sec .cont button {
  font-size: 2em;
}
#contact-sec .cont textarea {
  height: 3em;
  resize: none;
  overflow-y: scroll;
}

.cv-downloader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 0.25em 0.5em;
  background-color: var(--grey);
  color: var(--d-black);
  transition: 0.2s;
  box-shadow: 3px 3px 5px black;
}
.cv-downloader::after {
  content: url(./assets/download.svg);
}
.cv-downloader:hover {
  background-color: #e6e6e6;
  box-shadow: 3px 3px 15px black;
}

@media (max-width: 1100px) {
  .cont > div:not(#old-sec div) {
    width: 80% !important;
  }
  #old-sec .card {
    width: 10em;
  }
}
@media (max-width: 800px) {
  .cont > img {
    width: 80% !important;
  }
  #home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2em;
  }
  #home p {
    width: 80%;
  }
  #contact-sec .cont {
    flex-direction: column-reverse !important;
  }
  #contact-sec form {
    width: 90% !important;
  }
  #contact-sec form::after {
    background: white;
    top: -1em !important;
    left: 50%;
    width: 20em !important;
    height: 3px;
  }
  #skills-sec {
    height: auto !important;
  }
  #skills-sec i {
    font-size: 5em !important;
  }
  #skills-sec img {
    height: 5em !important;
    width: 5em !important;
  }
  #skills-sec .cont {
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 3em !important;
    gap: 3em;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
  section > h1 {
    font-size: 3em !important;
  }
}/*# sourceMappingURL=index.css.map */