@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");

html {
  font-family: "Baumans", cursive;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  background: linear-gradient(transparent 0 400px, white 600px 800px),
    url("src/tourism-back.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  margin: 0;
  left: 0;
  right: 0;
}

header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  height: 100px;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.25);
}

.nav-but {
  width: 30%;
  text-align: center;
  padding: 38px;
  font-size: 24px;
  color: black;
  text-decoration: none;
  user-select: none;
}

.nav-but:hover {
  backdrop-filter: blur(3px);
}

#comp_name {
  font-size: 96px;
  margin-left: 10%;
  width: 500px;
  background-color: rgb(0, 71, 0);
  color: transparent;
  text-shadow: 2px 2px 3px green;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  user-select: none;
  transition: text-shadow 0.2s, color 0.2s;
  letter-spacing: 4px;
}

#comp_name:hover {
  color: white;
  text-shadow: 0 0 20px rgb(0, 255, 0);
}

#selector {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 400px;
  height: 250px;
  right: 10%;
  top: 350px;
  background: rgba(114, 164, 106, 0.64);
  border-radius: 5px;
}

#geo-select {
  background: url(src/GeorgiaBack.jpg);
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

@keyframes anim-geo-in {
  0% {
    background: url(src/GeorgiaBack.jpg);
    filter: blur(5px);
  }
  100% {
    color: black;
    background: url(src/GeorgiaBack.jpg);
    filter: none;
    background-size: cover;
  }
}

#geo-select:hover {
  animation: anim-geo-in 0.2s ease forwards;
}

#word-select {
  background: url(src/WordwideBack.jpg);
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#word-select:hover {
  color: black;
  background: url(src/WordwideBack.jpg);
  background-size: cover;
  animation: anim-word-in 0.2s ease forwards;
}

@keyframes anim-word-in {
  0% {
    background: url(src/WordwideBack.jpg);
    filter: blur(5px);
  }
  100% {
    color: black;
    background: url(src/WordwideBack.jpg);
    filter: none;
    background-size: cover;
  }
}

.sub-select {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  width: 100%;
  height: 200px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 450px) {
  body {
    background: linear-gradient(transparent 0 60%, white 70% 100%),url(src/mobile-background.jpg);
    background-repeat: no-repeat;
    background-size: auto 100vh;
  }
  #comp_name {
    width: 300px;
    font-size: 58px;
    margin: 0;
    padding-left: 20px;
    margin-top: 75px;
    color: rgb(0, 171, 0);
    box-shadow: none;
    text-shadow: none;
    background: linear-gradient(
      90deg,
      rgba(128, 128, 128, 0.2),
      rgba(128, 128, 128, 0.2),
      transparent
    );
  }
  .nav-but {
    width: 50px;
  }
  #selector {
    margin: 0 auto;
    margin-top: 100px;
    right: auto;
    width: 100%;
  }
}
