@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #0D0D0D;
    --warning: #F24405;
    --orange: #F25C05;
    --yellow: #F2CF66;
    --white: #F2F2F2;
    --h-left: 15rem;
    --pre-right: 15rem;
}

* {
    margin: 0;
    padding: 0;
}

#testing {
    font-size: 2rem;
    padding: 3rem;
    color: var(--white);
    background-color: var(--warning);
    text-align: center;
    position: fixed;
    right: 1%;
    bottom: 1%;
}

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    & body {
        overflow-y: auto
    }
}
path {
    transition: 0.2s;
}

#nav-logo {
    overflow: visible;
    * {
        overflow: visible;
    }
}

#iconmonstr-github-1 {
    &:hover path {
        fill: black;
        stroke: white;
    }
}
#iconmonstr-linkedin-3 {
    &:hover path {
        fill: #0072b1;
    }
}
#iconmonstr-email-13 {
    &:hover path {
        fill: var(--orange);
    }
}

.btn-container {
    position: relative;
    width: 15rem;
    height: 1.15rem;
    transform-style: preserve-3d;
    margin-left: auto;

    a {
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        position: absolute;
        padding: 0 2rem;
        border: none;
        transition: width 0.2s, clip-path 0.2s, transform 0.2s, background-color 0.2s, color 0.2s;;
        transition-delay: 0.1s;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    .btn-live {
        left: 0;
        width: 4.5rem;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        margin-right: -1rem;
        background-color: var(--orange);
        color: var(--white);

        &:hover,
        &:focus {
            width: 10rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transform: translateZ(1px);
            background-color: #e6ceaa;
        }
    }

    .btn-repo {
        width: 4.5rem;
        right: 0;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
        margin-left: -1rem;
        background-color: var(--white);
        color: var(--black);

        &:hover,
        &:focus {
            width: 10rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transform: translateZ(1px);
            color: var(--white);
            background-color: #adadad;
        }
    }
}

.send {
    position: absolute;
    inset: -1rem;
    border-radius: 0.5rem;

    display: none;
    place-items: center;

    background-color: rgba(128, 128, 128, 0.398);
    backdrop-filter: blur(0.1rem);
    .succ {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        svg {
            width: 5rem;
        }
        .main {
            font-size: 2rem;
            font-weight: 900;
        }
    }
    .loadin {
        display: grid;
        place-items: center;
    }
}

header {
    position: fixed;
    top: 0dvh;
    left: 0;
    right: 0;
    padding-inline: 10rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid var(--yellow);
    transition: background-color 0.2s;
    z-index: 9999;
    svg {
        max-width: 20rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    div {
        display: flex;
        justify-content: end;
        gap: 2rem;
        margin-left: auto;
        width: fit-content;
    }
    .soc-network {
        svg {
            width: fit-content;
            aspect-ratio: 1;
        }
    }
}

body {
    background: linear-gradient(30deg, #C2C2C2, #F2F2F2);
}

section {
    overflow: hidden;
}


#welcome-sec {
    position: relative;
    background: url(./assets/welcome-land.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: var(--white);
    transition: background-position 0.1s;
    h1 {
        position: absolute;
        font-size: 2.5rem;
        top: 35%;
        text-shadow: 0 0 2rem #ffffff;
        text-align: right;
        border-right: 0.25rem solid var(--yellow);
        animation: slideInHeader 2s forwards;
        white-space: nowrap;
    }
    h1,pre {
        transition: top 0.4s, scale 0.1s, transform 0.1s;
        overflow: hidden;
    }
    pre {
        position: absolute;
        top: 65%;
        width: fit-content;
        border-left: 0.15rem solid var(--yellow);
        animation: slideInPre 2s forwards;
    }
}

@keyframes slideInHeader {
    0% {width: 0; transform: rotate(90deg); left: -100%}
    30% {left: var(--h-left); transform: rotate(90deg); }
    60% {transform: rotate(0deg); width: 0; padding-right: 0}
    100% {width: 25rem;padding-right: 2rem; left: var(--h-left);}
}
@keyframes slideInPre {
    0% {width: 0; transform: rotate(-90deg); right: -100%}
    30% {right: var(--pre-right); transform: rotate(-90deg); }
    60% {transform: rotate(0deg); width: 0; padding-right: 0}
    100% {width: 30rem;padding-left: 2rem; right: var(--pre-right);}
}

section:not(:first-of-type) {
    padding: 8rem 15rem;

    h1 {
        color: var(--black);
        width: fit-content;
        margin: 0 auto;
        padding: 0.25rem 1rem;
        border-bottom: 0.25rem solid var(--orange)
    }
}

.grid-container {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}
#project-sec .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#skills-sec .grid-container {
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.skill {
    --x: 0px;
    --y: 0px;
    transition: --x 0.2s, --y 0.2s;
    display: grid;
    place-items: center;
    background: radial-gradient(200px at calc(var(--x) + 100px) calc(var(--y) + 100px), rgba(255, 255, 255, 0.5), transparent),
                var(--warning);
    border-radius: 50%;
    height: 12rem; aspect-ratio: 1;

}



.proj-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 16 / 9;
    margin-bottom: 3rem;
    color: var(--white);
    animation: hoverOut 0.2s forwards reverse;
    padding: 0.25rem 2rem;

    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    &:hover, &:focus-within {
        animation: hoverIn 0.2s forwards;
        & .top, & .bottom {
            opacity: 1;
        }
    }
    .top, .bottom{
        opacity: 0;
        transition: opacity 0.2s;
        transition-delay: 0.2s;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
    }
}

#product {
    --img: url(./assets/product.png);
    background: var(--img);
    background-size: cover;
    
}

@keyframes hoverIn {
    0% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 0% 100%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    10% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 5% 95%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    20% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 10% 90%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    30% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 15% 85%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    40% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 20% 80%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    50% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 25% 75%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    60% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 30% 70%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    70% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 35% 65%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    80% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 40% 60%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    90% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 45% 55%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    100% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 50% 50%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
}
@keyframes hoverOut {
    0% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 0% 100%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    10% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 5% 95%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    20% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 10% 90%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    30% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 15% 85%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    40% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 20% 80%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    50% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 25% 75%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    60% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 30% 70%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    70% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 35% 65%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    80% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 40% 60%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    90% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 45% 55%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
    100% {background: linear-gradient(rgb(0,0,0,0.75) ,transparent 50% 50%, rgb(0,0,0,0.75)), var(--img); background-size: cover}
}

#multi {
    --img: url(./assets/multi.png);
    background: var(--img);
    background-size: cover;
}

#inter {
    --img: url(./assets/inter.png);
    background: var(--img);
    background-size: cover;
}

#shortener {
    --img: url(./assets/shortener.png);
    background: var(--img);
    background-size: cover;
}

#contact {
    form {
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        &::after {
            content: "";
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            width: 0.25rem;
            height: 15rem;
            background: var(--warning);
        }
        .left {
            position: relative;
            display: grid;
            label {
                margin-bottom: 0.25rem;
            }
            input, button, textarea {
                margin-bottom: 1rem;
                resize: none;
                border: none;
                font-size: 1rem;
                padding: 0.5rem;
                &:focus {
                    outline: 0.1rem solid var(--warning)
                }
            }
            button {
                background-color: var(--warning);
                border: none;
                color: var(--white);
                font-size: 1.5rem;
                transition: background-color 0.2s;
                &:hover {
                    background-color: var(--black);
                }
            }
        }
        .right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: fit-content;
            gap: 2rem;
        }
    }
}

@media (max-width: 1490px) {
    :root {
        --h-left: 7rem;
        --pre-right: 7rem;
    }
    #project-sec {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 1300px) {
    header {
        padding-inline: 5rem;
        #nav-logo {
            width: 15rem;
        }
    }
}

@media (max-width: 1250px) {
    #contact {
        
        form {
            margin-top: 3rem;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            align-items: start;
            &:after {
                width: 100%;
                height: 0.25rem;
            }
            .right {
                height: fit-content
            }
        }
    }
}

@media (max-width: 1100px) {
    :root {
        --h-left: 2rem;
        --pre-right: 5rem;
    }
    section:not(:first-of-type) {
        padding: 5rem 8rem;
    }
    #skills-sec {
        .skill {
            height: 8rem;
            aspect-ratio: 1;
            svg {
                height: 4rem;
                width: 4rem;
            }
        }
    }
}

@media (max-width: 800px) {
    #welcome-sec {
        background: url(./assets/welcome-port.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        h1, pre {
            position: static;
        }
    }
    section:not(:first-of-type) {
        padding: 5rem 2rem;
    }
    #contact {
        padding-inline: 5rem;
    }
}

@media (max-width:700px) {
    html {
        font-size: 0.7rem;
    }
    #welcome-sec {
        gap: 8rem;
    }
    .soc-network {
        gap: 2rem;
        svg {
            height: 3rem;
            max-width: inherit;
            max-height: 100%;
            aspect-ratio: 1;
        }
    }

}

@media (max-width: 600px) {
    html {
        font-size: 0.5rem;
    }
    header {
        padding: 1rem 3rem;
        a {
            width: fit-content;
        }
    }
}