.about-company {
    margin-top: 36px !important;
}

body {
    padding-top: 100px;
}

.about-info {
    font-size: 36px;
    margin-top: 36px;
    border: 1px rgba(128, 128, 128, 0.3) solid;
    background: rgba(128, 128, 128, 0.3);
    text-shadow: 0 0 1px white;
    padding: 20px;
}