#top-sec {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
#top-sec > div {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 50%;
}
#top-sec > div p {
  margin-bottom: 2.625rem;
}
#top-sec img {
  position: absolute;
  left: 50%;
  right: -20%;
}

#finance-flow {
  text-align: center;
}
#finance-flow p {
  margin-bottom: 2.125rem;
}
#finance-flow ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

#cryp-port-sec {
  padding-block: 5.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cryp-port-sec h1,
#cryp-port-sec p {
  margin: 0;
}
#cryp-port-sec .grid-cont {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 1fr 1.5fr 1fr;
  -moz-column-gap: 1.625rem;
       column-gap: 1.625rem;
  row-gap: 2rem;
}
#cryp-port-sec .grid-cont div {
  background-color: var(--d-blue);
  padding: 3rem 1.5rem;
  border-radius: 2.5rem;
}
#cryp-port-sec .grid-cont div:nth-of-type(1) {
  grid-row: 1/2;
  grid-column: 1/2;
}
#cryp-port-sec .grid-cont div:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
#cryp-port-sec .grid-cont div:nth-of-type(3) {
  background-color: var(--blue);
  position: relative;
  grid-row: 1/3;
  grid-column: 2/3;
  overflow: hidden;
}
#cryp-port-sec .grid-cont div:nth-of-type(3) img {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
}
#cryp-port-sec .grid-cont div:nth-of-type(4) {
  grid-row: 1/2;
  grid-column: 3/4;
}
#cryp-port-sec .grid-cont div:nth-of-type(5) {
  grid-row: 2/3;
  grid-column: 3/4;
}
#cryp-port-sec .btn {
  margin-top: 2rem;
}

#earn-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
#earn-sec ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  gap: 1.063rem;
}

#earn-2-sec {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}
#earn-2-sec div {
  max-width: 50%;
}
#earn-2-sec ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  gap: 1.063rem;
}
#earn-2-sec > img {
  position: absolute;
  top: 50%;
  left: 50%;
  right: -20%;
  transform: translate(0, -50%);
}

#explore-sec {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: auto;
  padding-block: 6.875rem;
  gap: 1rem;
  margin-top: 5rem;
}
#explore-sec h1,
#explore-sec p {
  margin: 0;
  padding: 0;
}
#explore-sec .info-div {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
#explore-sec .info-div .btn {
  margin-top: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
#explore-sec .img-div {
  position: relative;
  width: 37rem;
  height: 5rem;
}
#explore-sec .img-div img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.flex-row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

#users-sec {
  padding-inline: 0;
  padding-block: 12.5rem;
  min-height: auto;
}
#users-sec .flex-row {
  padding-inline: 8.313rem;
  align-items: center;
}
#users-sec .com-carousel {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 3rem;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  width: 100%;
  transition: margin-left 0.2s;
  /* Hide scrollbar for a specific selector in IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for a specific selector in Firefox */
  scrollbar-width: none;
}
#users-sec .com-carousel::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
#users-sec .comment {
  background-color: var(--d-blue);
  width: -moz-fit-content;
  width: fit-content;
  padding: 3.125rem 4.063rem;
  border-radius: 2.5rem;
  opacity: 0.2;
  transition: opacity 0.2s;
}
#users-sec .comment:nth-of-type(1) {
  opacity: 1;
}
#users-sec .comment > p {
  width: 25rem;
  margin-bottom: 1.563rem;
}
#users-sec .comment:hover {
  opacity: 1 !important;
}
#users-sec #buttons-sec {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.5rem auto;
}
#users-sec #buttons-sec input[type=radio] {
  position: relative;
  border: none;
  opacity: 0.4;
  accent-color: white;
  transition: opacity;
}
#users-sec #buttons-sec input[type=radio]:checked {
  opacity: 1;
}

#start-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  overflow-x: hidden;
}
#start-sec ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  gap: 1.063rem;
}
#start-sec .video-cont {
  position: relative;
  max-width: 50%;
}
#start-sec .video-cont video {
  width: 100%;
  background-color: var(--blue);
}
#start-sec .video-cont button {
  padding: 2.188rem;
  padding-left: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition: filter 0.2s;
}
#start-sec .video-cont button:hover {
  filter: none;
}

#news-sec .sub-top-sec p {
  max-width: 25%;
}
#news-sec .flex-row {
  gap: 1.625rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#download-sec {
  margin-bottom: 7.5rem;
}
#download-sec .apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}
#download-sec .apps > div {
  background-color: var(--d-blue);
  border-radius: 2.5rem;
  width: 30rem;
  position: relative;
  height: 40rem;
  padding: 3rem;
  overflow: hidden;
}
#download-sec .apps > div p {
  margin-top: 1rem;
  white-space: wrap;
}
#download-sec .apps > div button {
  margin-top: 2rem;
}
#download-sec .apps > div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

section {
  min-height: max(50rem, 100vh - 12rem);
  padding-inline: 8.313rem;
}
section h1 {
  font-size: 2.5rem;
}

.sub-top-sec {
  flex-wrap: wrap;
}
.sub-top-sec h1 {
  white-space: nowrap;
}

@media (max-width: 1180px) {
  #earn-sec {
    flex-direction: column;
  }
  #earn-sec img {
    width: 100%;
  }
}
@media (max-width: 1080px) {
  #cryp-port-sec .grid-cont {
    display: flex;
    flex-direction: column;
  }
  #cryp-port-sec .grid-cont div:nth-of-type(3) {
    padding-bottom: 25rem;
  }
  #cryp-port-sec .grid-cont div:nth-of-type(3) img {
    top: 40%;
  }
  #earn-2-sec {
    flex-direction: column-reverse;
    justify-content: center;
  }
  #earn-2-sec div {
    max-width: none;
  }
  #earn-2-sec > img {
    width: 100%;
    position: static;
    transform: none;
  }
  #explore-sec {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 2.5rem;
    padding-bottom: 25rem;
  }
  #explore-sec .info-div {
    align-items: center;
    max-width: none;
  }
  #explore-sec .info-div h1, #explore-sec .info-div p {
    text-align: center;
  }
  #explore-sec img {
    transform: translate(-50%, 0) !important;
    top: 60% !important;
    width: 100%;
  }
  #start-sec {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  #start-sec .video-cont {
    max-width: none;
  }
}
@media (max-width: 990px) {
  #top-sec {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  #top-sec div {
    max-width: none;
  }
  #top-sec div button {
    width: 100%;
    margin-bottom: 1rem;
  }
  #top-sec img {
    position: static;
    width: 100%;
  }
  #news-sec .sub-top-sec {
    margin-bottom: 2rem;
  }
}
@media (max-width: 900px) {
  #users-sec .flex-row {
    flex-direction: column;
  }
  #users-sec .com-carousel {
    margin-top: 2rem;
  }
}
@media (max-width: 750px) {
  #users-sec .flex-row {
    padding-inline: 4rem;
  }
}
@media (max-width: 700px) {
  #explore-sec {
    padding-bottom: 10rem;
  }
  #explore-sec .img-div {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .comment {
    width: 50vw !important;
  }
  .comment p {
    width: auto !important;
  }
  .comment .user-info {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  #download-sec {
    margin-top: 3rem;
  }
  #download-sec .apps .btn {
    width: 100%;
  }
  #download-sec .apps img {
    width: 80%;
  }
}
@media (max-width: 413px) {
  .comment {
    font-size: 0.75rem;
  }
  #download-sec img {
    top: 55% !important;
  }
}
@media (max-width: 370px) {
  #download-sec img {
    top: 60% !important;
  }
}
@media (max-width: 330px) {
  #download-sec img {
    top: 70% !important;
  }
}/*# sourceMappingURL=style.css.map */