:root {
    --grad-direction : 90deg;
}

body {
    background: white;
    background-image: url('../src/georgia-tour/georgia-back.jpg');
    background-size: 100vw auto;
    background-position: 0 100px;
    background-repeat: no-repeat;   
    padding-top: 100px;
}

#info-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

#tour-name {
    text-shadow: 0 0 2px white;
}

#tour-image {
    position:relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 50vw;
    object-fit:cover;
    object-position: center;
}

@keyframes vanishPhoto {
    50% {
        filter:blur(10px);
    }
}

#information {
    font-size: 24px;
    text-shadow: 0 0 3px white;
    background: linear-gradient(rgba(128, 128, 128, 0.2), transparent);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 3px rgba(128, 128, 128, 0.2);
    transition: all 0.2s;
}

#information:hover {
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.5);
}

#photo-section {
    position: relative;
    box-shadow: 0 0 10px 3px black;
    margin-bottom: 2rem;
    transition: box-shadow 0.2s;
}

#photo-section:hover {
    position: relative;
    box-shadow: 0 0 20px 6px black;
    margin-bottom: 2rem;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
background: green;
    width: 15vw;
    height: 50vw;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.switch:hover {
    opacity: 0.4;
}

#previous {
    position:absolute;
}

#next {
    top: 0;
    right: 0;
    position:absolute;
}

h1 {
    font-size: 48px;
}

#prices-section {
    width: 80%;
    margin: 2em auto;
    padding-bottom: 2em;
}

.region-list {
    list-style: none;
    font-size: 36px;
    margin: 10px;
    padding: 15px 50px ;
    user-select: none;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: scale 0.2s;
}

.region-list:hover {
    animation: gradient 0.2s ease-in forwards;
    scale: 1.1;
}

.region-list img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 3px black;
    border-radius: 15px;
    transition: scale 0.2s, box-shadow 0.2s;
}

.region-list img:hover {
    scale: 1.1;
    box-shadow: 0 0 10px green;
}

.price {
    font-size: 36px;
    color: green;
    margin-left: 40px;
    font-weight: bolder
}


@keyframes gradient {
    0% {
        background-image : linear-gradient(var(--grad-direction), transparent, transparent);
    }
    10% {
        background-image: linear-gradient(var(--grad-direction), rgba(0, 128, 0, 0.2),transparent 10%)
    }
    20% {
        background-image: linear-gradient(var(--grad-direction), rgba(0, 128, 0, 0.2), transparent 20%)
    }
    30% {
        background-image: linear-gradient(var(--grad-direction), rgba(0, 128, 0, 0.2), transparent 30%)
    }
    40% {
        background-image: linear-gradient(var(--grad-direction), rgba(0, 128, 0, 0.2), transparent 40%)
    }
    50% {
        background-image: linear-gradient(var(--grad-direction), rgba(0, 128, 0, 0.2), transparent 50%)
    }
    60% {
        background-image: linear-gradient(var(--grad-direction), rgba(0, 128, 0, 0.2), transparent 60%)
    }
    100% {
        background-image: linear-gradient(var(--grad-direction), rgba(0, 128, 0, 0.2), transparent)
    }
}



@media (max-width: 450px) {
    #prices-section ul li {
        margin-left: -50px;
    }
    .region-list img {
        width: 300px;
        height: 200px
    }
}

@media (max-width: 900px) {
    :root {
        --grad-direction: 180deg;
    }

    #prices-section ul {
        gap: 15px;
    }

    .region-list {
        flex-direction: column;
        padding: 15px 15px;
        margin: 15px auto;
    }
    .region-list > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .region-list img {
        width: 90%;
        height: 50%;
    }
    .center-text {
        text-align: center;
    }
    .region-name {
        text-align: left;
    }
}