#tour-list {
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

body {
    padding-top: 100px;
    padding-bottom: 50px;
}

.tour-graph {
    display: grid;
    height: 150px;
    width: 800px;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 300px 460px;
    grid-template-rows: 50px 50px 50px;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    column-gap: 15px;
    background: rgba(172, 255, 47, 0.1);
    box-shadow: 0 0 5px black;
    cursor: pointer;
    animation: drive-in 0.4s forwards;
    overflow: hidden;
    transition: box-shadow 0.2s, background 0.2s;
}

#tour-list > a {
    margin-top: 40px;
    text-decoration: none;
    color: black;
}

.tour-graph:hover {
    box-shadow: 0 0 5px white;
    background: rgba(172, 255, 47, 0.5)
}

@keyframes drive-in {
    from {
        transform: translateX(-300px);
    } to {
        transform: translateX(0px);
    }
}

.tour-img {
    grid-row: 1 / 4;
    aspect-ratio: 2 / 1;
    width: 300px;
}

.tour-label {
    grid-column: 2 / 3;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px black solid;
}

.tour-desc {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.tour-price {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align:right;
    font-size: 38px;
    color: rgb(12, 104, 0);
    text-shadow: 0 0 3px white;
}

@media (max-width: 450px) {
    
    .tour-graph {
        width: 300px;
        display: flex;
        flex-direction:column;
        height: 300px;
    }
    .tour-label {
        height: 30px;
    }
    .tour-desc {
        text-align: center;
        height: 50px;
        width: 280px;
    }
    .tour-price{
        height: 40px;
    }
}